

.cta{
position: absolute;
bottom: 20vh;
color: rgba(255, 255, 255, 0.624);
border: 2px solid rgba(255, 255, 255, 0.624);
border-radius: 2rem;
padding: .5rem 1rem;
text-transform: uppercase;
font-weight: 500;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  text-align: center;
  background-color: rgb(50,60,55);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}